/* ==|====================
   Fonts
   ======================= */


@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Hind');

@font-face {
	font-family: Code Light;
	src: url(/assets/fonts/code-light.otf);
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: Code Bold;
	src: url(/assets/fonts/code-bold.otf);
	font-weight: 600;
	font-style: normal;
}